html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to top left, #2196f3, #f44336);
    background: -moz-linear-gradient( to top left, #2196f3, #f44336);
    background: -ms-linear-gradient(to top left, #2196f3, #f44336);
    background: -o-linear-gradient( to top left, #2196f3, #f44336);
    background: linear-gradient( to top left, #2196f3, #f44336);
}

.form-wrap{
  width: 320px; background: #009CF7; padding: 40px 20px; box-sizing: border-box;
  position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);
  opacity: 0.9; filter: alfa(opacity=0.9);
  border-radius: 50px/45px;
}

input{
  color: #fff;
  width: 100%; background: none; border: 1px solid #fff; border-radius: 3px; padding: 6px 20px;
  box-sizing: border-box; margin-bottom: 20px;
  font-size: 20px;
}

input[type="submit"]{
  background: #DEDEDE; border:1 ; cursor: pointer; color: #fff;  width: 150px;
    position:relative;
    left: 23%;
    display: inline-block;
}
