html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to top left, #2196f3, #f44336);
    background: -moz-linear-gradient( to top left, #2196f3, #f44336);
    background: -ms-linear-gradient(to top left, #2196f3, #f44336);
    background: -o-linear-gradient( to top left, #2196f3, #f44336);
    background: linear-gradient( to top left, #2196f3, #f44336);
}

.form-wrap{
  width: 25rem; background: #009CF7; padding: 3.5rem 1.5rem; box-sizing: border-box;
  position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);
  opacity: 0.9; filter: alfa(opacity=0.9);
  border-radius: 5rem/4.5rem;
}

input{
  color: #fff;
  width: 100%; background: none; border: 0.1rem solid #fff; border-radius: 0.3rem; padding: 0.6rem 2rem;
  box-sizing: border-box; margin-bottom: 1.5rem;
  font-size: 1rem;
}

input[type="submit"]{
  background: #DEDEDE; border:1 ; cursor: pointer; color: #fff;  width: 15rem;
    position:relative;
    left: 23%;
    display: inline-block;
}
