@charset "UTF-8";

 html { font-size: 62.5%;}

body{
  background: #DEDEDE;
  padding: 8rem, 0 0 0;
}


body,input,button{
  font-family: 'Roboto Slab', serif;
}

header{
  width: 100%;
  height: 8rem;
  position: fixed;
  padding: 1.5rem;
  top: 0;
  left: 0;
  z-index: 5;
  background:  #009CF7;
  box-shadow: 0px 0.2rem 0.4rem rgba(44,62,80,0.15);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
 header input{
   width: 143rem;
   height: 5.5rem;
   float: left;
   font-size: 1.5rem;
   font-weight: 40rem;
   text-indent: 1.8rem;
   padding: 0 6rem 0 0;
   color: #fff;
   background: rgba(255,255,255, 0.2);
   border-top-left-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
   border-top-right-radius: 2.5rem;
   border-bottom-right-radius: 2.5rem;
   border: 0rem;
   margin-top: -0.2rem;
   margin-left: 1rem;
   box-shadow: none;
   outline: none;

   -webkit-apperance: none;
   -moz-apperance: none;
   -o-apperance:none;

 }
 header input::-webkit-input-placeholder{
   color:rgba(255,255,255,0.75);
 }

 header input:-moz-input-placeholder{
   color:rgba(255,255,255,0.75);
 }

 header input::-moz-input-placeholder{
   color:rgba(255,255,255,0.75);
 }

 header input:-ms-input-placeholder{
   color:rgba(255,255,255,0.75);
 }

 header button{
   width: 4.8rem;
   height: 4.8rem;
   position: absolute;
   top: 1.5rem;
   right: 6.2rem;
   z-index: 0.2rem;
   border-radius: 2.5rem;
   background: #fff;
   box-shadow: none;
   outline: 0;
   cursor: pointer;
   -webkit-apperance: none;
   -moz-apperance: none;
   -o-apperance:none;
   apperance: none;
 }

.noFill{
  fill:none;
}

header button svg{
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -0.8rem 0 0 -0.8rem;
  fill: #009CF7;
}

.container{
width: 10rem;
position: left;
padding: 1.5rem;
}

ul.todo{
  width: 10rem;
  float: left;
}

ul.todo li{
  width: 10rem;
  min-height: 3rem;
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
  line-height: 2.2rem;
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0px 0.2rem 0.4rem rgba(44,62,80,0.10);
  margin: 0 0 1rem 0;
  padding: 1.4rem 10rem 1.4rem 1.4rem;
}

ul.todo li:last-of-type{
  margin: 0;
}

ul.todo li .buttons{
  width: 10rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 5rem;
  height: 5rem;
  float: left;
  background: none;
  position: relative;
  border: 0rem;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-apperance: none;
  -moz-apperance: none;
  -o-apperance:none;
  apperance: none;
}

ul.todo li .buttons button:last-of-type:before{
  content:'';
  width: 0.1rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  left: 0rem;
  background: #DEDEDE;
}


ul.todo li .buttons button svg{
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  top: 2.5rem;
  left: 2.7rem;
  margin: -1.1rem 0 0 -1.1rem;
}

ul.todo li .buttons button.remove:hover svg .fill{
  fill: #e86556;
}

ul.todo li .buttons button.complete svg{
  border-radius: 1.5rem;
  border: 0.15rem solid #60F25A;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg{
  background: #60F25A;
  border: 0.15rem;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg{
  background: rgba(97,242,0,0.5);
}

ul.todo#completed li .buttons button.complete svg .fill{
  fill: #fff;
}

ul.todo li .buttons button svg .fill{
  -webkit-transition: fill 0.2s ease;
  -moz-transition: fill 0.2s ease;
  -ms-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill{
  fill: #DEDEDE
}

ul.todo li .buttons button.complete svg .fill{
  fill: #60F25A;

}

ul.todo#completed{
  padding:1.4rem 10rem 1.4rem 1.4rem;
  position: relative;
}

ul.todo#todo:empty:after{
  content: 'You have nothing to do!';
  margin: 10rem 0 0 0;
}

ul.todo#completed:empty:after{
  content: 'You have not completed any tasks!';
}

ul.todo#completed:after,
ul.todo#todo:after{
  width: 30rem;
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #aaa;
}

a.logout{
  color: #ff0000;
}
